<div class="container">
    <mat-card>
      <div class="form-container">
        <h2>Register a New Edge Device</h2>
        <form [formGroup]="registerForm" (ngSubmit)="registerTopic()" class="form d-flex justify-content-between">
          <mat-form-field appearance="fill">
            <mat-label>Topic Name</mat-label>
            <input matInput formControlName="topic" required />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" required />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" required />
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">
            Register Topic
          </button>
        </form>
      </div>
    </mat-card>
  </div>
