<div class="container mt-4">
  <h2>Sensor Data Dashboard</h2>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <div class="container-fluid">
    <button mat-flat-button (click)="loadLatestData()" [disabled]="isLoading">Refresh Data</button>
    <button mat-flat-button color="warn" (click)="deleteAllSensorData()" [disabled]="isLoading">Delete all data</button>
  </div>
  
  <div *ngIf="isLoading" class="loading-spinner">
    Loading...
  </div>

  <div *ngIf="sensorData.length > 0">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Sensor ID</th>
          <th>Topic</th>
          <th>Type</th>
          <th>Value</th>
          <th>Timestamp</th>
          <th>Actions</th> <!-- Add Actions column -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of sensorData">
          <td>{{ data.id }}</td>
          <td>{{ data.topic }}</td>
          <td>{{ data.sensorType }}</td>
          <td>{{ data.data }}</td>
          <td>{{ data.timestamp | date: 'medium' }}</td>
          <td>
            <!-- Add Delete Button -->
            <button (click)="deleteSensorData(data.id)" class="btn btn-danger">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="sensorData.length === 0 && !errorMessage">
    <p>No data available.</p>
  </div>
</div>
